body {
  background-color: #f1f1f1;
}
.registry-update {
  display: none;
}
.registry-update:not([type="checkbox"]).loading {
  width: calc(100% - 30px);
}
.edit-registry-field {
  white-space: nowrap;
}
.edit-registry-field.show-input ~ .registry-update {
  display: block;
}
#single-registry-form fieldset {
  padding: 20px;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 3px #bbb;
  border: 1px solid #ccc;
}
#single-registry-form fieldset section:not(:first-child) {
  border-top: 1px dashed #ddd;
  padding-top: 20px;
  padding-bottom: 15px;
}
#single-registry-form input[type="submit"] {
  margin-top: 10px;
  box-shadow: 0 2px 5px #555;
}
