.registry-update {
    display: none;
}

.registry-update:not([type="checkbox"]).loading {
    width: calc(100% - 30px);
}

.edit-registry-field {
    white-space: nowrap;
}

.edit-registry-field.show-input ~ .registry-update {
    display: block;
}