#child_name,
#parents_name,
#birthplace,
#month,
#day,
#year,
#bapt_month,
#bapt_day,
#bapt_year,
#priest_name,
#godparents_name,
#signature {
  text-align: center;
  font-size: 15px;
  line-height: 15px;
  z-index: 10;
  position: absolute;
}
#bg {
  width: 100%;
  height: 100%;
  position: absolute;
}
#child_name {
  width: 440px;
  bottom: 914px;
  left: 360px;
}
#parents_name {
  width: 480px;
  bottom: 858px;
  left: 320px;
}
#birthplace,
#month,
#day,
#year {
  bottom: 802px;
}
#birthplace {
  width: 230px;
  left: 260px;
}
#month {
  width: 75px;
  left: 550px;
}
#day {
  width: 48px;
  left: 656px;
}
#year {
  width: 60px;
  left: 742px;
}
#bapt_month,
#bapt_day,
#bapt_year {
  bottom: 724px;
}
#bapt_month {
  width: 75px;
  left: 550px;
}
#bapt_day {
  width: 48px;
  left: 656px;
}
#bapt_year {
  width: 60px;
  left: 742px;
}
#priest_name {
  width: 510px;
  bottom: 690px;
  left: 270px;
}
#godparents_name {
  width: 330px;
  bottom: 651px;
  left: 370px;
}
#signature {
  width: 80px;
  height: 45px;
  bottom: 645px;
  left: 725px;
}
.singature_img {
  width: 80px;
  height: 45px;
  margin: 0;
  padding: 0;
}
